export(bard)
export(capa)
export(pass)
export(sampler)
exportMethods(collective_anomalies)
exportMethods(plot)
exportMethods(point_anomalies)
exportMethods(show)
exportMethods(summary)
import(Rcpp)
import(ggplot2)
import(tidyr)
import(xts)
import(cowplot)
importFrom(Rdpack,reprompt)
importFrom(dplyr,group_by)
importFrom(dplyr,mutate)
importFrom(methods,as)
importFrom(methods,new)
importFrom(stats,dchisq)
importFrom(stats,dnbinom)
importFrom(stats,end)
importFrom(stats,is.ts)
importFrom(stats,pnbinom)
importFrom(stats,qchisq)
importFrom(stats,runif)
importFrom(stats,start)
importFrom(stats,var)
importFrom(utils,tail)
importFrom(zoo,is.zoo)
useDynLib(anomaly, .registration = TRUE)





